[package]
name = "fuse3"
version = "0.2.0-beta.1"
authors = ["Sherlock Holo <sherlockya@gmail.com>"]
edition = "2018"
readme = "README.md"
keywords = ["fuse", "filesystem", "system", "bindings"]
categories = ["api-bindings", "filesystem"]
license = "MIT"
repository = "https://github.com/Sherlock-Holo/fuse3"
description = "FUSE user-space library async version implementation."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
members = [".", "examples"]

[features]
tokio-runtime = ["tokio", "tokio-stream"]
async-std-runtime = ["async-std", "async-io"]
file-lock = []
unprivileged = ["which"]
doc = ["file-lock", "unprivileged", "tokio-runtime"]

# for debug
#default = ["tokio-runtime"]

[dependencies]
futures-util = { version = "0.3", features = ["sink"] }
futures-channel = { version = "0.3", features = ["sink"] }
log = "0.4"
async-trait = "0.1"
libc = "0.2"
bincode = "1.3"
serde = { version = "1.0", features = ["derive"] }
nix = "0.19"
which = { version = "4.0", optional = true }
tokio-stream = { version = "0.1", features = ["fs"], optional = true }
async-io = { version = "1.3", optional = true }
bytes = "1.0"
slab = "0.4"

[dependencies.async-std]
version = "1.9"
features = ["unstable"]
optional = true

[dependencies.tokio]
version = "1.2"
features = ["fs", "rt", "sync", "net", "macros"]
optional = true

[package.metadata.docs.rs]
features = [ "doc" ]
